/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-primary-dark-txt:#777;
$color-white:#fff;

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}
html{
/*    font-size: 100%;default 16px from the root*/
    font-size: 62.5%; /*10px from the root*/
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-primary-dark-txt;
    padding: 3rem;
     box-sizing: border-box;
}
.header{
    height: 95vh;
    background-image:linear-gradient(to right bottom,rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    
}
.header__logo-container {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}
.header__logo:hover{
      animation:moveInRight 2s ease-out ;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%,-50%);
    text-align: center;
}

.head-primary {
    text-transform: uppercase;
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: 2rem;
}

.head--primary-main {
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 3rem;
    display: block;
    animation-name: moveInLeft;
    animation-duration:5s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
    
}

.head--primary-sub {
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing:1rem;
    animation:moveInRight 1s ease-out ;
/*    animation-delay: 3s;*/
    /* animation-name:moveInRight;
    animation-duration:5s;
    animation-delay: 3s; */
/*    animation-timing-function: ease-out;*/
}
@keyframes moveInLeft{
  from{
        opacity:0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(2rem);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    from{
          opacity:0;
          transform: translateX(0);
      }
      80%{
         transform: translateX(-.2rem);
      }
      to {
          opacity: 1;
          transform: translate(-10rem);
      }
  }
.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #eee;
    padding: 1.5rem 4rem;
    border-radius:20rem;
    font-size: 1.6rem;
    transition: all .1s;
    position: relative;
    
}
.btn:hover{
/*    background-color: antiquewhite;*/
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.31);
}
.btn:active{
    transform: translateY(-1px);
     box-shadow: 0 .5rem .6rem rgba(0, 0, 0, 0.04);
}
.btn--white {
    color: #ccc;
    background-color: $color-white;
  
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
   
}
.btn--white::after{
    background-color: $color-white;
}
.btn:hover::after{
   transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.btn--animated{
   animation: moveInBottom .5s ease-out .75s;
    
}